<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Oops!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="content-container">
    <ion-img src="assets/img/404.png" class="error-image"></ion-img>
    <div class="error-text">
      <h1>Ups! this page is not available</h1>
      <p>Maybe you should try going to the homepage</p>
    </div>
  </div>
</ion-content>
