<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Tarjeta 1 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Desarrollo de Aplicaciones Móviles
      </ion-card-title>
      <ion-card-subtitle>
        PGY4121-012D
      </ion-card-subtitle>
      <ion-button fill="solid" (click)="toggleCard('card1')">
           Abrir
        <ion-icon slot="end" name="arrow-round down"></ion-icon>
      </ion-button>
    </ion-card-header>
  
    <ion-card-content *ngIf="cardStates['card1']">
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start"></ion-thumbnail>
          <ion-label>Nota Parcial 1 </ion-label>
          <ion-thumbnail slot="end"></ion-thumbnail>
          <ion-label>5.9 </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start"></ion-thumbnail>
          <ion-label>Nota Parcial 2 </ion-label>
          <ion-thumbnail slot="end"></ion-thumbnail>
          <ion-label>7.0 </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start"></ion-thumbnail>
          <ion-label>Nota Parcial 3 </ion-label>
          <ion-thumbnail slot="end"></ion-thumbnail>
          <ion-label>1.0 </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Tarjeta 2 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Programación de Base de Datos
      </ion-card-title>
      <ion-card-subtitle>
        MDY3131-007D
      </ion-card-subtitle>
      <ion-button fill="solid" (click)="toggleCard('card2')">
        Abrir
        <ion-icon slot="end" name="arrow-round down"></ion-icon>
      </ion-button>
    </ion-card-header>
  
    <ion-card-content *ngIf="cardStates['card2']">
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start"></ion-thumbnail>
          <ion-label>Nota Parcial 1 </ion-label>
          <ion-thumbnail slot="end"></ion-thumbnail>
          <ion-label>4.2 </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start"></ion-thumbnail>
          <ion-label>Nota Parcial 2 </ion-label>
          <ion-thumbnail slot="end"></ion-thumbnail>
          <ion-label>6.0 </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start"></ion-thumbnail>
          <ion-label>Nota Parcial 3 </ion-label>
          <ion-thumbnail slot="end"></ion-thumbnail>
          <ion-label>5.1 </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Tarjeta 3 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Arquitectura de Software
      </ion-card-title>
      <ion-card-subtitle>
        ASY4131-99A
      </ion-card-subtitle>
      <ion-button fill="solid" (click)="toggleCard('card3')">
        Abrir
        <ion-icon slot="end" name="arrow-round down"></ion-icon>
      </ion-button>
    </ion-card-header>
  
    <ion-card-content *ngIf="cardStates['card3']">
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start"></ion-thumbnail>
          <ion-label>Nota Parcial 1 </ion-label>
          <ion-thumbnail slot="end"></ion-thumbnail>
          <ion-label>4.2 </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start"></ion-thumbnail>
          <ion-label>Nota Parcial 2 </ion-label>
          <ion-thumbnail slot="end"></ion-thumbnail>
          <ion-label>6.0 </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start"></ion-thumbnail>
          <ion-label>Nota Parcial 3 </ion-label>
          <ion-thumbnail slot="end"></ion-thumbnail>
          <ion-label>5.1 </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
    
</ion-content>
