<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <div class="login-box">
      <h1>Bienvenido</h1>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <ion-label>Email</ion-label>
          <div class="input-container">
            <i class="ion-icon ion-mail-outline"></i>
            <ion-input type="email" placeholder="correo@ejemplo.com" formControlName="email"
              class="custom-input"></ion-input>
          </div>
        </div>

        <div class="form-group">
          <ion-label>Contraseña</ion-label>
          <div class="input-container">
            <i class="ion-icon ion-lock-closed-outline"></i>
            <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="********" formControlName="password"
              class="custom-input"></ion-input>
            <i class="ion-icon" [class.ion-eye-outline]="showPassword" [class.ion-eye-off-outline]="!showPassword"
              (click)="showPassword = !showPassword" class="eye-icon"></i>
          </div>
        </div>

        <ion-button expand="block" type="submit" [disabled]="!loginForm.valid" class="login-button">
          Iniciar sesión
        </ion-button>

        <a class="forgot-password" routerLink="/forgot-password">
          Olvidé mi contraseña
        </a>

        <div class="divider">
          <span>O</span>
        </div>

        <ion-button expand="block" fill="outline" routerLink="/registro" class="register-button">
          Registrarse
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>