ion-content {
    --padding-top: 10%;
    --background: transparent;
}

ion-button {
    display: block;
    margin: 20px auto;
    width: 80%;
    height: 50px;
    --background: var(--ion-color-primary);
    
    ion-icon {
        margin-right: 8px;
        font-size: 24px;
    }
}

ion-card {
    margin: 20px;
    background: rgba(var(--ion-color-primary-rgb), 0.1);
    border-radius: 12px;
    
    ion-card-header {
        background: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        border-radius: 12px 12px 0 0;
        
        ion-card-title {
            font-size: 18px;
            font-weight: bold;
            padding: 10px;
            text-align: center;
        }
    }
    
    ion-card-content {
        padding: 16px;
        
        ion-list {
            background: transparent;
            
            ion-item {
                --background: transparent;
                margin-bottom: 8px;
                
                h2 {
                    font-size: 16px;
                    color: var(--ion-color-primary-contrast);
                    margin: 8px 0;
                }
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.result-container {
    background-color: var(--ion-color-primary);
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    margin-top: 16px;
    
    h2 {
        margin-bottom: 8px;
        color: var(--ion-color-primary-contrast);
    }
    
    p {
        font-size: 16px;
        color: var(--ion-color-primary-contrast);
    }
}