<!-- tab1.page.html -->
<ion-header>
  <ion-toolbar>
    <div class="header-grid">
      <ion-avatar>
        <img
          class="avatar-icon"
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <ion-title class="welcome-title"
        >{{ greeting }}, {{ getUserFirstName() }}</ion-title
      >
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card class="home-card" button="true" routerLink="/horario">
            <div class="card-illustration">
              <img src="assets/img/horario4.png" alt="Horario" />
            </div>
            <ion-card-header>
              <ion-card-title>Horario</ion-card-title>
              <ion-card-subtitle>Gestiona tu tiempo</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-card class="home-card" button="true" routerLink="/asistencia">
            <div class="card-illustration">
              <img src="assets/img/Asistencia.jpg" alt="Asistencia" />
            </div>
            <ion-card-header>
              <ion-card-title>Asistencia</ion-card-title>
              <ion-card-subtitle>Control de presencia</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-card class="home-card" button="true" routerLink="/notas">
            <div class="card-illustration">
              <img src="assets/img/notas.jpg" alt="Notas" />
            </div>
            <ion-card-header>
              <ion-card-title>Notas</ion-card-title>
              <ion-card-subtitle>Revisa tus calificaciones</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-card class="home-card" button="true" routerLink="/cursos">
            <div class="card-illustration">
              <img src="assets/img/cursos.jpg" alt="Cursos" />
            </div>
            <ion-card-header>
              <ion-card-title>Cursos</ion-card-title>
              <ion-card-subtitle>Gestiona tus asignaturas</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
