.page-tab1 {
  ion-header {
    --background: #fff;
    --ion-toolbar-background: #fff;
    --ion-text-color: #000;
    border-bottom: 1px solid #000;

    ion-toolbar {
      display: flex; 
      justify-content: space-between; 
      align-items: center; 
      padding: 0 16px; /* Ajusta el padding para el toolbar */
    }
  }

  .welcome-title {
    font-size: 1.5em;
    color: #000;
    margin-left: 8px; /* Ajusta el margen a la izquierda */
  }

  ion-avatar {
    margin-right: 16px;
  }

  app-logout-button {
    margin-left: auto; /* Asegúrate de que el botón esté a la derecha */
    --background: red; /* Fondo rojo para el botón */
    --color: white; /* Color del texto en blanco */
    --border-radius: 20px; /* Bordes redondeados para el botón */
  }

  .home-container {
    padding: 16px;
    background-color: #fff;
    height: 100%;
  }

  ion-card.home-card {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: none;
    transition: transform 0.2s;
    
    &:hover {
      transform: scale(1.02);
    }

    ion-card-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 16px;
      border-bottom: 1px solid #000;
    }

    .card-icon {
      font-size: 2em;
      margin-right: 10px;
      color: #000;
    }

    ion-card-title {
      font-size: 1.2em;
      color: #000;
      margin: 0;
    }

    ion-card-content {
      padding: 16px;
      text-align: center;
    }

    ion-button {
      --color: #000;
      --border-radius: 20px;
      --border: 1px solid #000;
      --padding-start: 16px;
      --padding-end: 16px;
      --padding-top: 8px;
      --padding-bottom: 8px;
      text-transform: none;
      font-weight: bold;
      font-size: 1em;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  ion-grid {
    --ion-grid-columns: 2;
  }

  ion-row {
    margin-bottom: 16px;
  }
}
.avatar-icon {
  margin-top: 5px;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}