<ion-header>
  <ion-avatar id="coolAvatar">
    <img
      alt="Silhouette of a person's head"
      src="https://ionicframework.com/docs/img/demos/avatar.svg"
    />
  </ion-avatar>
</ion-header>

<ion-toolbar>
  <ion-title id="coolWelcome">Welcome User: </ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div id="coolContainer">
    <ion-button id="coolButtoms" expand="block" routerLink="/registro">
      Sign up
    </ion-button>
    <br />
    <br />
    <ion-button id="coolButtoms" expand="block" routerLink="/tabs/tab3">
      Login
    </ion-button>
  </div>
</ion-content>
