<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="title" size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="login-container">
      <div class="login-box">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <ion-item class="input-item">
            <ion-input
              type="text"
              fill="solid"
              label="Username"
              labelPlacement="floating"
              formControlName="username"
            ></ion-input>
          </ion-item>

          <ion-item class="input-item">
            <ion-input
              class="input-login"
              label="Password"
              type="password"
              labelPlacement="floating"
              formControlName="password"
            ></ion-input>
          </ion-item>

          <ion-button class="login-button" expand="block" (click)="login()">
            Iniciar sesión
          </ion-button>
          <ion-button
            class="login-button"
            expand="block"
            routerLink="/registro"
          >
            Registrarse
          </ion-button>
        </form>
      </div>
    </div>
  </ion-content></ion-content
>
