<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Olvidar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="forgot-password-container">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-button
        expand="block"
        type="submit"
        [disabled]="!forgotPasswordForm.valid"
      >
        Enviar
      </ion-button>
    </form>
  </div>
</ion-content>
