<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="registro-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-text
        color="danger"
        *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']"
      >
        <p>El email es requerido</p>
      </ion-text>
      <ion-text
        color="danger"
        *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['email']"
      >
        <p>Por favor, ingresa un email válido</p>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-text
        color="danger"
        *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']"
      >
        <p>La contraseña es requerida</p>
      </ion-text>
      <ion-text
        color="danger"
        *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['minlength']"
      >
        <p>La contraseña debe tener al menos 6 caracteres</p>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input
          type="password"
          formControlName="confirmPassword"
        ></ion-input>
      </ion-item>
      <ion-text
        color="danger"
        *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched"
      >
        <p>Las contraseñas no coinciden</p>
      </ion-text>

      <ion-button expand="block" type="submit" [disabled]="!registerForm.valid">
        Registrarse
      </ion-button>
    </form>

    <ion-button expand="block" fill="clear" (click)="volverAInicio()">
      Volver a Inicio
    </ion-button>
  </div>
</ion-content>
